name: brew test-bot
on:
  push:
    branches: [main]
  pull_request:
jobs:
  test-bot:
    strategy:
      matrix:
        os: [macos-13, macos-14]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@master
      - name: Run brew test-bot
        run: |
          brew test-bot --only-cleanup-before
          brew test-bot --only-setup
          brew test-bot --only-formulae --root-url=https://ghcr.io/v2/aritya-arjunan/cmix
      - name: Upload bottles
        uses: actions/upload-artifact@v4
        with:
          name: bottles_${{ matrix.os }}
          path: '*.bottle.*'
